/target
.env

# Terraform state files
terraform.tfstate*

# Terraform plugins dir
.terraform

# Terraform varialbes usually contain sensitive information
terraform.tfvars
terraform.tfvars.json

# Real server environment variables
SERVER.env
