*.rs diff=rust

*.conf linguist-language=INI

# HACK: Nushell doesn't seem to have good highlighting implemented yet.
# Python highlighting matches nushell code good enough though
*.nu linguist-language=python
