/target
.env

# Terraform state files
terraform.tfstate*

# Terraform plugins dir
.terraform

# Temporary terraform fs lock file
.terraform.tfstate.lock.info

# Terraform varialbes usually contain sensitive information
terraform.tfvars
terraform.tfvars.json

# Directory where the database data is stored during development
data
