[Unit]
Description=Telegram Bot Service (docker compose)

BindsTo=docker.service
After=docker.service

[Service]
Type=oneshot
User=${server_os_user}
RemainAfterExit=yes
WorkingDirectory=/var/app
EnvironmentFile=${env_file_path}

ExecStartPre=-/var/app/docker-compose.sh rm

ExecStart=/var/app/docker-compose.sh up --detach --no-build --pull --wait

# We increase the timeout, because shutting down `teloxide` takes a while
# The issue in `teloxide`: https://github.com/teloxide/teloxide/issues/711
ExecStop=/var/app/docker-compose.sh stop --timeout 60

[Install]
WantedBy=multi-user.target
