[Unit]
Description=Veebot Telegram Service (docker compose)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=admin
RemainAfterExit=yes
WorkingDirectory=/var/app
EnvironmentFile=${env_file_path}
ExecStartPre=-${docker_compose_cmd} rm
ExecStart=${docker_compose_cmd} up --detach --no-build
ExecStop=${docker_compose_cmd} stop --timeout 60

[Install]
WantedBy=multi-user.target
