[Unit]
Description=Veebot Telegram Service (docker compose)
BindsTo=docker.service
After=docker.service

# This unit is generated automatically by `systemd` using the builtin generator
# that reads the configurations from `/etc/fstab`
BindsTo=mnt-master.mount
After=mnt-master.mount

[Service]
Type=oneshot
User=${server_os_user}
RemainAfterExit=yes
WorkingDirectory=/var/app
EnvironmentFile=${env_file_path}
ExecStartPre=-${docker_compose_cmd} rm
ExecStart=${docker_compose_cmd} up --detach --no-build
ExecStop=${docker_compose_cmd} stop --timeout 60

[Install]
WantedBy=multi-user.target
